@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

.launchsites-flexbox {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    align-content: flex-start;
    flex-flow: row wrap;
    margin-top: 10px;
    row-gap: 1.5rem;
}

.launchsite-flex-item{
    border: solid 1px #CCC;
    border-radius: 5px;
    background-color: #EEE;
    padding: 10px;
    width: 23.6%;
}

.logo-for-card{
  width: 48px;
  height: 48px;
  border: solid 1px #CCC;
  border-radius: 8px;
  margin: auto;
  overflow-x: hidden;
  overflow-y: hidden;
}

.logo-for-card img{
  width: 100%;
}

.logo-placeholder{
  display: inline-block;
  min-width: 48px;
  height: 48px;
  border: 1px solid #CCC;
  border-radius: 8px;
  background-color: #33F;
  color: #FFF;
  font-weight: bold;
  font-size: 24px;
  margin: auto;
  /*
  padding-top: 4px;
  */
  padding: 6px;
}

.ls-tagline{
  min-height: 90px;
}

/*
@media (min-height: 680px), screen
*/
@media screen and (max-width: 1399px) {
  .launchsite-flex-item{
    width: 31.5%;
  }
}

@media screen and (max-width: 991px) {
  .launchsite-flex-item{
    width: 48.6%;
  }
}


